* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* login page */
.joincontainer {
  color: white;
  display: flex;
  width: 350px;
  height: 350px;
  border: 2px solid #00fff5;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #393e46;
  align-items: center;
}

.name,
.roomid {
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.input {
  width: 60%;
  height: 40%;
  margin-left: 0px;
  border-radius: 20px;
  border: 2px solid #00fff5;
}
.name input,
.roomid input {
  position: relative;
  left: 5%;
  border: none;
  width: 95%;
  height: 100%;
  background: transparent;
  border-radius: 20px;
  color: white;
}

.joinroom {
  height: 15.33%;

  width: 100%;
  background-color: #00fff5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /* outline-width: 0px; */
  border: none;
  cursor: pointer;
}

/* chat page */
::-webkit-scrollbar {
  width: 0px;
}

.ui {
  position: fixed;
  top: 0%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* min-height: 100%; */
  min-height: -webkit-fill-available;
  background: url(https://t4.ftcdn.net/jpg/02/00/68/69/360_F_200686968_KS9NVTJgvjMQs2FniVHyIJaAIcg5p7D0.jpg);
  overflow-y: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
.chatcontainer {
  background: url("https://wallpapercave.com/wp/wp10254557.jpg");
  background-size: cover;

  width: 350px;
  height: 550px;
  border: 1px solid grey;
  display: grid;
  grid-template-rows: 0.7fr 6fr 0.7fr 0fr;
  gap: 4px;
}
.chatnav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #424955;
  text-align: center;
  height: 53px;
}
.fa-user-friends {
  color: rgb(197, 241, 247);
}
.chatsection {
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.chatinput {
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424955;
  border-radius: 23px;
  margin: auto;
  margin-bottom: 2px;
  position: relative;
}
.emoji-picker-react .emoji-group:before {
  color: white !important;
  background-color: #424955 !important;
  line-height: 20px !important;
}
.emoji-picker-react .emoji-categories button {
  filter: invert(1) !important;
}
/* .chatinput input:focus + .emoji-picker-react {
  display: none;
} */
/* hide search bar for emoji picker */
.emoji-picker-react input.emoji-search {
  display: none;
}
.fa-grin-beam {
  color: white;
  margin-left: 8px;
}
/* .hide ~ .emoji-picker-react {
  display: none !important;
} */
.chatinput input {
  width: 80%;
  height: 100%;
  background: transparent;
  color: azure;
  border: none;
  margin-left: 8px;
}
.chatinput button {
  width: 40.5px;
  height: 40.5px;
  border-radius: 50%;
  cursor: pointer;
}

.you {
  background: #eeeeee;
  width: 48%;
  margin-top: 8px;
  padding: 8px;
  border-radius: 15px;
  position: relative;
  right: -1%;
  display: flex;
  flex-direction: column;
}
.others {
  background: #4ad0ee;
  width: 48%;
  position: relative;
  right: -51%;
  margin-top: 8px;
  padding: 8px;
  border-radius: 15px;
}
.joined {
  color: white;
  background: transparent;
  width: 100%;
  position: static !important;
  padding: 0px;
  margin-top: 10px !important;
  text-align: center;
  border-radius: 0px !important;
}
.notimeanddate {
  display: none !important;
}
.msg {
  font-family: sans-serif;
  font-size: smaller;
}
.details {
  display: flex;
  justify-content: space-between;
  font-size: small;
}
.sender,
.time {
  color: #008bdf;
  text-transform: capitalize;
}
.others .sender,
.others .time {
  color: white;
}
